@model WebApplication1.Models.HomeViewModel
<div id="player"></div>
<script type="text/javascript" id="NeverFindThisIdAgainEver">
    $(document).ready(function () {
        $("#nextUrl").unbind();
        $('#nextUrl').on('click', NextUrlAjax);
    });
    var GlobalYouTime;
    var GlobalRowV;
    var GLobalPostData;
    function SetGlobalPostData() {
        GLobalPostData = {
            rowV: GlobalRowV,
            yTime: GlobalYouTime
        };
    }
    GlobalRowV = "@Model.RowVersion";

    SetGlobalPostData();
     


    /*Since this is a parialView DOMinserts. Have to "fake" youtubeApiInit When nexting.*/
    if (typeof youtube_api_init != 'undefined') {
        onYouTubeIframeAPIReady();
    }

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '400',
            width: '640',
            videoId: '@Model.UrlCurrent',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
        /*Start recursive polling after plaeyr loaded*/
        HandleAjaxResponse();
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
            NextUrlAjax();
        }
    }

    function NextUrlAjax(e) {
        var postData =
        {
            rowVersion: "@Model.RowVersion"
        };
        return $.ajax({
            type: "POST",
            url: "@Url.Action("NextUrl", "Home")",
            data: postData,
            dataType: "html",
            success:
            function (result) {
                $('#diviFramePart').html(result);
            }
        });
    }

</script>