<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Who doesn't like Macs</h1>
                    <hr class="small">
                    <span class="subheading">A shitty image with some filter</span>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            Derp Derp Derp Derp
                        </h2>
                        <h3 class="post-subtitle">
                           some bullshit "small text that is included in ehader"
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">MEtadate as fuck</a>lol</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <hr>
</body>
