<div class="row scrollList" id="searchResults">
    <ul class="list-group">
        @foreach (var item in Model.UrlList)
        {
            <li class="list-group-item">@item.UrlPart</li>
        }
    </ul>

</div>
